<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=ar.edu.unlp.info.oo1"/>
        <listEntry value="archetypeArtifactId=objetos-uno"/>
        <listEntry value="archetypeVersion=1.0.0"/>
        <listEntry value="groupId=ejercicios"/>
        <listEntry value="artifactId=ejercicio1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=ejercicios.ejercicio1"/>
        <listEntry value="outputDirectory=C:\Users\frank\OneDrive\Desktop\3er-anio-unlp\Objetos2\ejercicios"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\frank\AppData\Local\Temp\m2e-archetypeGenerator9702432358991256159"/>
</launchConfiguration>
